
@model BuyNSell.Models.RatingMaster

@using BuyNSell.Models

@{ 
    RatingMaster RatingMaster = ViewBag.RatingMaster as RatingMaster;
}

<script type="text/javascript">
    function imgRate_Click(Rate)
    {
        debugger;
        $("#divAddOrderBackground").show();
        $("#divAddRate").show();
        $.ajax({
            type: "Post",
            url: "../Rating/AddRate_Click",
            datatype: "json",
            data: { Rate: Rate},
            success:function(result){
                $("#divAddRate").html(result);
            }

        });
    }

    $("#imgStarOne").mouseover(function () {

        $("#imgStarOne").attr("src", "/Images/YellowStar.jpg");
    })

    $("#imgStarTwo").mouseover(function () {
        debugger;
        $("#imgStarOne").attr("src", "/Images/YellowStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/YellowStar.jpg");
    })

    $("#imgStarThree").mouseover(function () {
        $("#imgStarOne").attr("src", "/Images/YellowStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/YellowStar.jpg");

        $("#imgStarThree").attr("src", "/Images/YellowStar.jpg");
    })

    $("#imgStarFour").mouseover(function () {
        $("#imgStarOne").attr("src", "/Images/YellowStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/YellowStar.jpg");

        $("#imgStarThree").attr("src", "/Images/YellowStar.jpg");

        $("#imgStarFour").attr("src", "/Images/YellowStar.jpg");
    })

    $("#imgStarFive").mouseover(function () {

        $("#imgStarOne").attr("src", "/Images/YellowStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/YellowStar.jpg");

        $("#imgStarThree").attr("src", "/Images/YellowStar.jpg");

        $("#imgStarFour").attr("src", "/Images/YellowStar.jpg");
        $("#imgStarFive").attr("src", "/Images/YellowStar.jpg");
    })

    $("#imgStarOne").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })
    $("#imgStarOne").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })
    $("#imgStarTwo").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })
    $("#imgStarThree").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })
    $("#imgStarFour").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })
    $("#imgStarFive").mouseout(function () {
        $("#imgStarOne").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarTwo").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarThree").attr("src", "/Images/GrayStar.jpg");

        $("#imgStarFour").attr("src", "/Images/GrayStar.jpg");
        $("#imgStarFive").attr("src", "/Images/GrayStar.jpg");
    })




</script>



<div id="divOrder" style="padding-left:14%; padding-top:5%; width:90%;height:90%">

    <h3 style="padding-left:20%">@ViewBag.RatingLog</h3>

    @*@using (Html.BeginForm())
    {

        @Html.TextBoxFor(m => m.Rate)


        <input type="submit" value="Rate" />

    }*@

    <img id="imgStarOne" src="~/Images/GrayStar.jpg" onclick="imgRate_Click(1)"  />

    <img id="imgStarTwo" src="~/Images/GrayStar.jpg" onclick="imgRate_Click(2)" />

    <img id="imgStarThree" src="~/Images/GrayStar.jpg" onclick="imgRate_Click(3)" />

    <img id="imgStarFour" src="~/Images/GrayStar.jpg" onclick="imgRate_Click(4)" />

    <img id="imgStarFive" src="~/Images/GrayStar.jpg" onclick="imgRate_Click(5)" />


    </div>