

@*@model BuyNSell.Models.ViewModels.ProductList_ViewModel*@

@model IEnumerable<BuyNSell.Models.ProductList_ViewModel>

@{
    ViewBag.Title = "Home";
}

@*<h2>Home</h2>*@
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script src="~/Scripts/MyScript.js" type="text/javascript"></script>
</head>
<body>


    <div id="divSearch" style="border:solid; border-radius:10px;padding-left: 14%;padding-bottom: 2%;padding-top: 2%; margin:1%; display:flex">
        <div style="width:80%">
            @*<div>*@
                <label style="font-weight:bold; font-size:20px;margin-right: 25px;">Product Name</label>
                <input type="text" id="txtProductName" placeholder="Product Name" style="font-size:17px" />

            <label style="font-weight:bold; font-size:20px;margin-right: 25px;margin-left: 4%;">Product Category</label>
                @Html.DropDownList("ddlProductCategory", new SelectList(ViewBag.ProductCategory, "Value", "Text"), " Select Product Category ", new { style = "font-size:17px;" })
            @*</div>*@
            <div style="margin-top:2%">
                <label id="lblFromDate" style="font-weight:bold; font-size:20px;margin-right: 58px;">From Date</label>
                <input type="date" id="txtFromDate" />

                <label id="lblToDate" style="font-weight:bold; font-size:20px;margin-left: 12%;margin-right: 110px;">To Date</label>
                <input type="date" id="txtToDate" />
            </div>
        </div>
        <div>
            <button id="btnSearch" class="SubmitButton"> Search </button>
        </div>

    </div>



        <div id="divSortBy" style="margin-left:55%;">
            <label id="lblSortBy" style="font-weight:bold; font-size:20px">Sort By</label>
            <select id="ddlSortBy" style="font-size:17px;font-weight: bold;width: 26%;padding-left: 1%;">
                <option value="ProductName">Product Name</option>
                <option value="AddedDate Desc">Newest First</option>
                <option value="Price">Price</option>
            </select>
        </div>


        <div id="divPageSize" style="margin-left:74%; margin-top:-24px">
            <label id="lblPageSize" style="font-weight:bold; font-size:20px">Products Per Page</label>
            <select id="ddlPageSize" style="font-size:17px;font-weight: bold;width: 32%;padding-left: 7%;">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>


    <div id="divSearchResult">

        @Html.Partial("_ProductList")

    @*@foreach (var item in Model)
    {
        <div id="divResultRow" style="border:solid; height:30%; border-radius:10px; padding:1%; margin:1%; display:flex">

            <div id="divpicture">
                <img src="data:image;base64,@System.Convert.ToBase64String(@item.PictureContent1)" style="height:150px;width:250px;" />
            </div>
            <div id="divPrice" style="margin-top:4%;margin-left:1%" class="LabelProductList">
                @Html.DisplayFor(m => item.ProductName)
            </div>


        </div>
    }*@
    </div>

    <div id="divAddOrder" style="display:none; position:fixed;background-color:white; z-index:2;left:35%;top:25%;width: 35%;height: 60%; border:solid; border-radius:50px">

    </div>

    <div id="divAddRate" style="display:none; position:fixed;background-color:white;z-index:2;left:35%;top:25%;width: 25%;height: 35%; border:solid; border-radius:50px"></div>

    <div id="divAddOrderBackground" style="display:none;position:fixed;height: 100%;width:100%;top:0px;left:0px;opacity:0.2;background-color:black; z-index:1">
    </div>


    </body>
</html>