
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
@section Scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/AngularJs/MyOrderController.js"></script>
    <script type="text/javascript">
        function btnCloseViewCustomerOrderDetails_Click() {
            $("#divViewMyOrderDetails").hide();
            $("#divViewMyOrderDetails").empty();
            $("#divPopupBackground").hide();
        }
    </script>
}
<html>
<body>
    <div ng-app="IndexApp" style="background-color:lightgrey;padding:1% 1% 1% 1%;">
        <div ng-controller="IndexController">

            <div style="display:flex;margin-left: 55%;margin-top: 2%;">
                <div id="divSortBy" style="display: flex; width:50%">
                    <label id="lblSortBy" style="font-weight:bold; font-size:20px">Sort By</label>
                    <select class="form-control" style="width: 60%;font-size:17px;font-weight: bold;" ng-options="S.Text for S in ddlSortByList" ng-model="ddlSortBySelected" ng-change="ddlSortBy_Change()"></select>
                </div>
                <div id="divPageSize" style="display: flex;width:50%">
                    <label id="lblPageSize" style="font-weight:bold; font-size:20px">Products Per Page</label>
                    <select class="form-control" style="width:25%;font-size:17px;font-weight: bold;" ng-options="P.Text for P in ddlPageSizeList" ng-model="ddlPageSizeSelected" ng-change="ddlPageSize_Change()"></select>
                </div>
            </div>

            <div id="divTotalProduct" style="margin-left:2%">
                <label id="lblTotalProducts" style="font-weight: bold;font-size: 18px;">Total Orders:<span style="font-weight:normal">{{TotalRecords}}</span></label>
            </div>

            <div id="divOrderResult" ng-repeat="item in MyOrderListSpecific" ng-include="GetOrderTemplate(item)" style="background-color:white;height:152.875px; border-radius:10px; padding:1%; margin:1%; display:flex;box-shadow: 10px 10px 10px #888888;">
              
            </div>

            <div id="divPageNumber" style="margin-left:42%;margin-bottom:1%">
                <label id="lblPageNumber" style="padding-left:2%;font-weight:bold; font-size:18px">Page <span style="font-weight:normal">{{CurrentPageNumber}}</span> Of <span style="font-weight:normal">{{LastPageNumber}}</span> </label>
            </div>


            <div id="divPaging" style="margin-left:41%;margin-bottom:-2%;">

                <button id="btnPreviousPageMyOrder" ng-disabled="CurrentPageNumber == 1" ng-click="btnPreviousPageMyOrder_Click()" class="btn btnSubmit" style="position:absolute;left:39%;">
                    <span class="glyphicon glyphicon-chevron-left"></span>PreviousPage
                </button>

                <button id="btnNextPageMyOrder" ng-disabled="CurrentPageNumber == LastPageNumber" ng-click="btnNextPageMyOrder_Click()" class="btn btnSubmit" style="position:absolute;left:50%">
                    NextPage<span class="glyphicon glyphicon-chevron-right"></span>
                </button>

            </div>

            <script type="text/ng-template" id="Display">

                <div id="divOrderId" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Order Id</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.OrderId}}
                    </div>
                </div>

                <div id="divpicture" style="margin-right:1%">
                    <img ng-src="data:image/jpeg;base64,{{item.PictureSrc}}" style="height:125px;width:200px;"/>
                </div>

                    <div id="divProductName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Product Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.ProductName}}
                        </div>
                    </div>

                    <div id="divSellerName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Seller Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.SellerName}}
                        </div>
                    </div>

                    <div id="divOrderQuantity" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Order Quantity</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.OrderQuantity}}
                        </div>
                    </div>

                    <div id="divPaymentAmmount" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Payment Amount</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.PaymentAmount}}
                        </div>
                    </div>

                    <div id="divOrderStatus" class="divOrderList" style="width:20%;min-width:200px">
                        <div class="LabelProductListBold">
                            <label>Order Status</label>
                        </div>
                        <div class="LabelProductList" id="DivOrderStatusLabel">
                            {{item.OrderStatusName}}

                            <button class="btn btnSubmit" ng-if="item.OrderStatusList != 0" ng-click="ChangeOrderStatus(item)" style="display:block; margin: 2% 0% 0% 35%;">Change</button>

                            @*<input type="button" value="Change" ng-if="item.OrderStatusList != 0" class="btn btnSubmit" ng-click="ChangeOrderStatus(item)" style="display:block; margin: 2% 0% 0% 35%;" />*@
                        </div>
                     </div>

                <div id="ViewOrderDetailsButton" style="width:10%; margin:4% 0% 0% 0%">
                    <button id="btnViewMyOrderDetails" class="btn btnSubmit" ng-click="btnViewMyOrderDetails_Click(item.OrderId)">View Details</button>
                </div>

</script>

            <script type="text/ng-template" id="Edit">
                <div id="divOrderId" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Order Id</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.OrderId}}
                    </div>
                </div>

                <div id="divpicture" style="margin-right:1%">
                    <img ng-src="data:image/jpeg;base64,{{item.PictureSrc}}" style="height:125px;width:200px;" />
                </div>

                <div id="divProductName" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Product Name</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.ProductName}}
                    </div>
                </div>

                <div id="divSellerName" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Seller Name</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.SellerName}}
                    </div>
                </div>

                <div id="divOrderQuantity" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Order Quantity</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.OrderQuantity}}
                    </div>
                </div>

                <div id="divPaymentAmmount" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Payment Amount</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.PaymentAmount}}
                    </div>
                </div>

                <div id="divOrderStatus" class="divOrderList" style="width:20%;min-width:200px">
                    <div class="LabelProductListBold">
                        <label>Order Status</label>
                    </div>
                    <div id="DivOrderStatusChange">
                        <select class="form-control" style="width:80%;margin:0% 0% 2% 10%" data-ng-model="item.OrderStatusId" data-ng-options="O.OrderStatusId as O.OrderStatusName for O in item.OrderStatusList">
                            <option value="">--Select--</option>
                        </select>
                        <input type="button" value="Save" ng-click="SaveMyOrderStatus(item)" class="btn btn-success" />
                        <input type="button" value="Cancel" ng-click="CancelMyOrderStatus()" class="btn btn-danger" />
                    </div>
                </div>

                <div id="ViewOrderDetailsButton" style="width:10%; margin:4% 0% 0% 0%">
                    <button id="btnViewMyOrderDetails" class="btn btnSubmit" ng-click="btnViewMyOrderDetails_Click(item.OrderId)">View Details</button>
                </div>

            </script>

            <div id="divSaveStatusConfirm" style="display:none; position:fixed;background-color:white; z-index:2;left:35%;top:25%; height: 200px;width: 400px; border-radius:35px;box-shadow:30px 20px 17px;">

                <div style="margin-left:4%; margin-top:10%">
                    @*<img src="~/Images/question-mark-icon.jpg" style="width:10%;" />*@
                    <label style="font-weight:bold;font-size: 17px; padding-left:2%">Are You Sure You Want To Change Status of Order ?</label>
                    <label style="color:red;margin-left: 1%;">Note:- You can't go back to the Previews Order Status</label>

                </div>

                <div style="margin-top: 7%;margin-left: 15%;">
                    <button type="button" id="btnSaveStatusConfirmYes" ng-click="btnSaveStatusConfirmYes()" class="btnConfirm btn btn-success " style="width:35%"> Yes </button>
                    <button type="button" id="btnSaveStatusConfirmNo" ng-click="btnSaveStatusConfirmNo()" style="margin-left:13%;width:35%" class="btnConfirm btn btn-danger "> No </button>
                </div>
            </div>

            </div>
    </div>

    <div id="divViewMyOrderDetails" style="display:none;position:fixed;padding:1% 1% 1% 1% ;background-color:white;min-height:530px;min-width:600px;left:27%;top:4%;border-radius:35px;z-index:2;box-shadow:30px 20px 17px;">
    </div>


</body>
</html>

