
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>

<head>
    @section Scripts{
    @*<script src="~/Scripts/angular.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="~/AngularJs/CustomerOrderController.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    <script type="text/javascript">
        function btnCloseViewCustomerOrderDetails_Click(){
            debugger;
            $("#divViewOrderDetails").hide();
            $("#divViewOrderDetails").empty();
            $("#divPopupBackground").hide();
        }

        var NotificationCustomerOrder = @Session["NotificationCustomerOrder"];

    </script>
        }

    @*@section Styles{
    <link href="~/Content/MyStyle.css" rel="stylesheet" />
    }*@


</head>


<body>

    <div ng-app="IndexApp" style="background-color:lightgrey;padding:1% 1% 1% 1%;">
        <div ng-controller="IndexController">


            <div style="display:flex;margin-left: 55%;margin-top: 2%;">
                <div id="divSortBy" style="display: flex; width:50%">
                    <label id="lblSortBy" style="font-weight:bold; font-size:20px">Sort By</label>
                    <select class="form-control" style="width: 60%;font-size:17px;font-weight: bold;" ng-model="ddlSortBySelected" ng-options="S.Id as S.Text for S in ddlSortByList" ng-change="ddlSortBy_Change()"></select>
                </div>

                <div id="divPageSize" style="display: flex;width:50%">
                    <label id="lblPageSize" style="font-weight:bold; font-size:20px">Products Per Page</label>
                    <select class="form-control" style="width:25%;font-size:17px;font-weight: bold;" ng-model="ddlPageSizeSelected" ng-options="P.Id as P.Text for P in ddlPageSizeList" ng-change="ddlPageSize_Change()"></select>
                </div>
                </div>

            <div id="divTotalProduct" style="margin-left:2%">
                <label id="lblTotalProducts" style="font-weight: bold;font-size: 18px;">Total Orders:<span style="font-weight:normal">{{TotalRecords}}</span></label>
            </div>

                <div id="divOrderResult" ng-repeat="item in OrderListData" ng-include="GetOrderTemplate(item)" style="background-color:white;height:152.875px; border-radius:10px; padding:1% 1% 1% 8px; margin:1%; display:flex;box-shadow: 10px 10px 10px #888888;">

                </div>

            <div id="divPageNumber" style="margin-left:42%;margin-bottom:1%">
                <label id="lblPageNumber" style="padding-left:2%;font-weight:bold; font-size:18px">Page <span style="font-weight:normal">{{CurrentPageNumber}}</span> Of <span style="font-weight:normal">{{LastPageNumber}}</span> </label>
            </div>

            <div id="divPaging" style="margin-left:41%;margin-bottom:-2%;">


                    <button id="btnPreviousPageOrder" ng-if="LastPageNumber>1 && CurrentPageNumber>1" ng-click="btnPreviousPageOrder_Click()"   class="btn btnSubmit" style="position:absolute;left:39%;">
                        <span class="glyphicon glyphicon-chevron-left"></span>PreviousPage
                    </button>
    
                    <button id="btnNextPageOrder" ng-if="LastPageNumber > 1 && LastPageNumber != CurrentPageNumber" ng-click="btnNextPageOrder_Click()" class="btn btnSubmit" style="position:absolute;left:50%">
                        NextPage
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>  
            </div>





                <script type="text/ng-template" id="Display">

                    <div id="divNew" style="min-width:40px">
                        <span class="badge" ng-if="item.IsNew == 2" style="transform: rotate(-30deg);">New</span>
                    </div>
                        
                   

                    <div id="divOrderId" class="divOrderList" style="width: 9%;margin-left:0px">
                        <div class="LabelProductListBold">
                            <label>Order Id</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.OrderId}}
                        </div>
                    </div>

                    <div id="divpicture" style="margin-right:1%">
                        <img ng-src="data:image/jpeg;base64,{{item.PictureSrc}}" style="height:125px;width:200px;" />
                    </div>

                    <div id="divProductName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Product Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.ProductName}}
                        </div>
                    </div>

                    <div id="divBuyerName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Buyer Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.BuyerName}}
                        </div>
                    </div>

                    <div id="divOrderQuantity" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Order Quantity</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.OrderQuantity}}
                        </div>
                    </div>

                    @*<div id="divAvailableQuantity" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Available Quantity</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.AvailableQuantity}}
                    </div>
                </div>*@

                    <div id="divPaymentAmmount" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Payment Amount</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.PaymentAmount}}
                        </div>
                    </div>

                    @*<div id="divDeliveryAddress" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Delivery Address</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.DeliveryAddress}}
                    </div>
                </div>*@

                    @*<div id="divContactNum" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Contact Number</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.ContactNum}}
                    </div>
                </div>*@

                    @*<div id="divOrderAddedDate" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Order Date</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.OrderAddedDate}}
                    </div>
                </div>*@

                    <div id="divOrderStatus" class="divOrderList" style="width:20%;min-width:200px">
                        <div class="LabelProductListBold">
                            <label>Order Status</label>
                        </div>
                        <div class="LabelProductList" id="DivOrderStatusLabel">
                            {{item.OrderStatusName}}

                            <input type="button" value="Change" ng-if="item.OrderStatusList != 0" class="btn btnSubmit" ng-click="ChangeOrderStatus(item)" style="display:block; margin: 2% 0% 0% 35%;" />
                        </div>
                        @*<div id="DivOrderStatusChange" style="display:none">
                        <select class="form-control" style="width:80%;margin:0% 0% 2% 10%" data-ng-model="OrderStatusName" data-ng-options="O.OrderStatusId as O.OrderStatusName for O in item.OrderStatusList">
                            <option value="">--Select--</option>
                        </select>
                        <input type="button" value="Save" class="btn btn-success" />
                        <input type="button" value="Cancel" class="btn btn-danger" />
                    </div>*@
                        @*<select ng-model="OrderStatus">
                        <option ng-repeat="i in item.OrderStatusList" value="{{i.OrderStatusId}}">{{i.OrderStatusName}}</option>
                    </select>*@

                        @*<select ng-options="OrderStatusItem "*@
                    </div>

                    <div id="ViewOrderDetailsButton" style="width:10%;margin:4% 0% 0% 0%">
                        <button id="btnViewOrderDetails" type="button" class="btn btnSubmit" ng-click="btnViewOrderDetails_Click(item.OrderId)">View Details</button>
                    </div>

                </script>


                <script type="text/ng-template" id="Edit">

                    <div id="divNew" style="min-width:40px">
                        <span class="badge" ng-if="item.IsNew == 2" style="transform: rotate(-30deg);">New</span>
                    </div>

                    <div id="divOrderId" class="divOrderList" style="width: 9%;margin-left:0px;">
                        <div class="LabelProductListBold">
                            <label>Order Id</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.OrderId}}
                        </div>
                    </div>

                    <div id="divpicture" style="margin-right:1%">
                        <img ng-src="data:image/jpeg;base64,{{item.PictureSrc}}" style="height:125px;width:200px;" />
                    </div>

                    <div id="divProductName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Product Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.ProductName}}
                        </div>
                    </div>

                    <div id="divBuyerName" class="divOrderList" style="width: 15%;">
                        <div class="LabelProductListBold">
                            <label>Buyer Name</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.BuyerName}}
                        </div>
                    </div>

                    <div id="divOrderQuantity" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Order Quantity</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.OrderQuantity}}
                        </div>
                    </div>

                    @*<div id="divAvailableQuantity" class="divOrderList" style="width: 10%;">
                    <div class="LabelProductListBold">
                        <label>Available Quantity</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.AvailableQuantity}}
                    </div>
                </div>*@

                    <div id="divPaymentAmmount" class="divOrderList" style="width: 10%;">
                        <div class="LabelProductListBold">
                            <label>Payment Amount</label>
                        </div>
                        <div class="LabelProductList">
                            {{item.PaymentAmount}}
                        </div>
                    </div>

                    @*<div id="divDeliveryAddress" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Delivery Address</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.DeliveryAddress}}
                    </div>
                </div>*@

                    @*<div id="divContactNum" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Contact Number</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.ContactNum}}
                    </div>
                </div>*@

                    @*<div id="divOrderAddedDate" class="divOrderList" style="width: 15%;">
                    <div class="LabelProductListBold">
                        <label>Order Date</label>
                    </div>
                    <div class="LabelProductList">
                        {{item.OrderAddedDate}}
                    </div>
                </div>*@

                    <div id="divOrderStatus" class="divOrderList" style="width:20%;min-width:200px">
                        <div class="LabelProductListBold">
                            <label>Order Status</label>
                        </div>
                        @*<div class="LabelProductList" id="DivOrderStatusLabel" style="display:none">
                        {{item.OrderStatusName}}
                        <input type="button" value="Change" class="btn btnSubmit" style="display:block; margin: 2% 0% 0% 35%;" />
                    </div>*@
                        <div id="DivOrderStatusChange">
                            <select class="form-control" style="width:80%;margin:0% 0% 2% 10%" data-ng-model="item.OrderStatusId" data-ng-options="O.OrderStatusId as O.OrderStatusName for O in item.OrderStatusList">
                                <option value="">--Select--</option>
                            </select>
                            <input type="button" value="Save" ng-click="SaveOrderStatus(item)" class="btn btn-success" />
                            <input type="button" value="Cancel" ng-click="CancelOrderStatus()" class="btn btn-danger" />
                        </div>
                        @*<select ng-model="OrderStatus">
                        <option ng-repeat="i in item.OrderStatusList" value="{{i.OrderStatusId}}">{{i.OrderStatusName}}</option>
                    </select>*@

                        @*<select ng-options="OrderStatusItem "*@
                    </div>

                    <div id="ViewOrderDetailsButton" style="width:10%; margin:4% 0% 0% 0%">
                        <button id="btnViewOrderDetails" type="button" class="btn btnSubmit" ng-click="btnViewOrderDetails_Click(item.OrderId)">View Details</button>
                    </div>


                </script>


                <div id="divSaveStatusConfirm" style="display:none; position:fixed;background-color:white; z-index:2;left:35%;top:25%; height: 200px;width: 400px; border-radius:35px;box-shadow:30px 20px 17px;">

                    <div style="margin-left:4%; margin-top:10%">
                        @*<img src="~/Images/question-mark-icon.jpg" style="width:10%;" />*@
                        <label style="font-weight:bold;font-size: 17px; padding-left:2%">Are You Sure You Want To Change Status of Order ?</label>
                        <label style="color:red;margin-left: 1%;">Note:- You can't go back to the Previews Order Status</label>

                    </div>

                    <div style="margin-top: 7%;margin-left: 15%;">
                        <button type="button" id="btnSaveStatusConfirmYes" ng-click="btnSaveStatusConfirmYes()" class="btnConfirm btn btn-success " style="width:35%"> Yes </button>
                        <button type="button" id="btnSaveStatusConfirmNo" ng-click="btnSaveStatusConfirmNo()" style="margin-left:13%;width:35%" class="btnConfirm btn btn-danger "> No </button>
                    </div>
                </div>

            </div>
            </div>


    <div id="divViewOrderDetails"style="display:none;position:fixed;padding:1% 1% 1% 1% ;background-color:white;min-height:530px;min-width:600px;left:27%;top:4%;border-radius:35px;z-index:2;box-shadow:30px 20px 17px;">
    </div>

</body>
</html>

