body {
}



.Label{
/*padding-right:5%;*/
font-weight:bold;
    font-size: 17px;
}

.SubmitButton{
    border-color: white;
    padding: 3px 10px 3px 13px;
    font-size: 16px;
    background-color: #70A2AB;
    border-radius: 10px;
}


.ErrorMsg{
    color:red;
}

.Homeicon{
    width: 15%;
    height: 2%;
}


.MenuItem{
    font-size: 25px;
    margin-left: 25%;
    text-decoration: none;
    color:blue;
}

.divMenu{
    margin-top:1%;
    width:20%;
    height:100%;
}

/*.divCategoryItemsShow{
    display:block;

}*/

.divSubMenu{
    display:none;
    width:15%;
    background-color: #70A2AB;
    position:absolute;
    padding-bottom:1%;
    color:blue;
}


.LabelProductListBold{
    font-size:18px;
    font-weight:bold;
}

.LabelProductList{
     font-size:17px;
     /*margin-top: 50%;*/
     /*padding-top: 40px;*/
}


.btnConfirm{
    font-weight:bold;
}

.divProductList{
    margin: 2% 1% 0% 1%;
        text-align: center;
}

.divViewProductDetails{
        display: flex;
        margin: 1% 0% 1% 12%;

}

.LabelProductDetailsBold{
font-size: 18px;
    font-weight: bold;
}

.LabelProductDetails{
font-size: 18px;
    font-weight: normal;
/*padding-left: 10%;*/
}


.btnSubmit:hover{
        background-color: #71C6ED;
}

    .caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
   }


.LabelAddOrderBold{
        font-weight:bold;
    font-size: 17px;
}

.LabelAddOrder{
            font-weight:normal;
    font-size: 17px;
}


.divOrderList{
    margin: 2% 0% 0% 1%;
    text-align: center;
}